.create-folder { display: flex; gap: .5rem; flex-direction: column; }
.btns { display: flex; justify-content: space-between; }

.jconfirm.jconfirm-nefi .jconfirm-box {
    border-radius: 0;
    box-shadow: 0px 0px 20px #00000033;
    padding: 55px 80px;
    font-family: "Montserrat", Sans-serif;
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.jconfirm.jconfirm-nefi .jconfirm-box .wrapper {
    display: flex;
    gap: 60px;
}

.jconfirm.jconfirm-nefi .jconfirm-box .wrapper .buttons {
    padding: 3rem 0 1.5rem 0;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1.5rem;
}

.jconfirm.jconfirm-nefi .jconfirm-box .wrapper .buttons button, .jconfirm.jconfirm-nefi .jconfirm-box .wrapper .buttons .button, .jconfirm.jconfirm-nefi-save .jconfirm-box .wrapper .buttons button {
    font-family: "Montserrat", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 17px;
    fill: #2A2A2A;
    color: #2A2A2A;
    background-color: #FFC743;
    border-radius: 50px 50px 50px 50px;
    padding: 17px 36px 16px 36px;
    border: none;
}

.jconfirm.jconfirm-nefi .jconfirm-box .wrapper .buttons .button {
    background-color: transparent;
    border: 1px solid #FFC743;
}

.jconfirm.jconfirm-nefi .jconfirm-box .wrapper .buttons.btns button, .jconfirm.jconfirm-nefi-save .jconfirm-box .wrapper .buttons.btns button {
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    padding: 12px 22px 11px 22px;
}

.jconfirm.jconfirm-nefi .jconfirm-box .wrapper .buttons button.excluir {
    background-color: #FF4343;
    color: white;
}

.jconfirm.jconfirm-nefi .jconfirm-box .varios {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.jconfirm.jconfirm-nefi .jconfirm-box .varios .pilulas {
	flex: 1;
}

.jconfirm.jconfirm-nefi .jconfirm-box .varios .tags {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border: 1px solid #EDEDED;
    border-right: none;
	display: inline-block;
	padding: 2px 8px 2px 14px;
	vertical-align: top;
}

.jconfirm.jconfirm-nefi .jconfirm-box button.excluir.peq {
	padding: 2px 11px 0px 11px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	display: inline-block;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.jconfirm.jconfirm-nefi .jconfirm-box .wrapper .buttons button.down-pin {
    background-color: #FFE943;
}

.jconfirm.jconfirm-nefi .jconfirm-box .wrapper .buttons button:hover, .jconfirm.jconfirm-nefi-save .jconfirm-box .wrapper .buttons button:hover {
    background-color: #2A2A2A;
    color: #FFC743;
}

.jconfirm.jconfirm-nefi .jconfirm-box .wrapper .buttons button.down-pin:hover {
    color: #FFE943;
    background-color: #2A2A2A;
}

.jconfirm.jconfirm-nefi .jconfirm-box .wrapper .meta {
    flex: auto;
}

.jconfirm.jconfirm-nefi-save .jconfirm-box {
    border-radius: 0;
    box-shadow: 0px 0px 20px #00000033;
    padding: 20px 40px;
    font-family: "Montserrat", Sans-serif;
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.jconfirm.jconfirm-nefi .jconfirm-box h4, .jconfirm.jconfirm-nefi-save .jconfirm-box h4 {
    font-weight: bold;
    font-size: 1.3rem;
}

.jconfirm.jconfirm-nefi-save .jconfirm-box .folders-list {
    text-align: center;
}

.jconfirm.jconfirm-nefi-save .jconfirm-box .folders-list #folders-search input {
    border-radius: 50px;
    margin-bottom: 10px;
}

.jconfirm.jconfirm-nefi-save .jconfirm-box .folders-list #folders-add {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid #EDEDED;
}

.jconfirm.jconfirm-nefi-save .jconfirm-box .folders-list #folders-add .folder-create {
    width: 100%;
    border: none;
    background-color: transparent !important;
    font-weight: bold;
    position: relative;
    color: black !important;
    height: 60px;
}

.jconfirm.jconfirm-nefi-save .jconfirm-box .folders-list #folders-add .folder-create::before {
    content: '+';
    background-color: #DDDD;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    font-size: 3rem;
    line-height: 3.6rem;
    font-weight: normal;
}

.jconfirm.jconfirm-nefi-save .jconfirm-box .create-folder h4 {
    text-align: center;
}

.folder {
    padding: 0 10px;
    list-style: none;
    height: 250px;
    overflow-y: auto;
}

.folder .item {
    display: flex;
    gap: 2rem;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 12px;
}

.folder .item:hover {
    background-color: #EDEDED;
}

.folder .item img {
    border-radius: 12px;
}

#pin-list {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

#pin-list .select {
    max-width: 300px;
    display: flex;
    gap: 1rem;
}

.pin-list {
    display: flex;
    list-style-type: none;
    gap: 2%;
    flex-wrap: wrap;
    padding: 0;
}

.pin-list-item {
    flex: 1 0 18.4%;
    max-width: 18.4%;
}

.pin-list-item img {
    width: 100%;
    height: auto;
}

.pin-this {
    display: block;
    margin-top: 10px;
}

.filter-group {
    display: flex;
    gap: 1rem;
    align-items: end;
    justify-content: space-between;
}

.filter-group > div {
    flex: 1;
}